<!-- <div *ngIf="sekhar" class="name">{{sekhar.name}}</div> -->



<div class="container">
  <div class="row">
    <div class="col-md-4 form-group">
      <label>product</label><input class="form-control" type="text" [(ngModel)]="nam">
    </div>

    <div class="col-md-4 form-group">
      <label>price</label><input class="form-control" type="number" [(ngModel)]="price">
    </div>

    <div class="col-md-4 form-group">
      <label>Count</label><input class="form-control" type="number" [(ngModel)]="count" ><br> <button class="btn btn-primary" (click)="myapp()" >button</button>
    </div>
  </div>
 

</div>
     
<table class="table table-dark">
  <tr>
    <th>PRODUCT</th>
    <th>PRICE</th>
    <th>quantity</th>
    <th>total</th>
  </tr>
  <tr *ngFor="let sekhar of sekhars">
    <td>{{sekhar.name}}</td>
    <td>{{sekhar.price}}</td>
    <td>{{sekhar.count}}</td>
    <td>Rs{{sekhar.price*sekhar.count}}</td>
    <td><button (click)="remove()">X</button></td>
  </tr>
</table>